<style>
  body,
html {
  background-color: #343a40;
  height: 100%;
};

.user-logo {
  align-content: center;
}
</style>

<div class="jumbotron">
  <img class="user-logo justify-content-center" src="assets/entertaintmentlogo.png" height="300px" width="300px"/>
</div>

<div>
  <a href="/era">Enter Here </a>
</div>