<style>
  body,
  html {
  background-color: #343a40;
  height: 100%;
};

</style>

<div class="row justify-content-center">
  <div class="col-md-6">
    <h6><code id="currentDay" class="lead"></code></h6>
    <a href="/era"><img class="center mx-auto d-block" src="assets/entertaintmentlogo.png" height="300px" width="300px"/></a> 
  </div>
</div>

<div class="row justify-content-center second-row">
  <div class="col-md-6">
    <h6><code id="currentDay" class="lead"></code></h6>
    <a href="/era"><img class="rounded mx-auto d-block" src="https://media1.giphy.com/media/l46CDHTqbmnGZyxKo/source.gif"/></a> 
  </div>
</div>

